@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.menu-toggle {
  font-size: 32px;
  display: none !important;
}

.label-toggle {
  display: none;
}

header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 5px 50px;
  background-color: rgba(45, 42, 48, 0.7607843137);
}
header img {
  height: 100px;
}
header nav img {
  width: 7rem;
  height: 6rem;
}
header ul {
  list-style-type: none;
  display: flex;
  gap: 35px;
}
header ul li a {
  color: #fff;
}
header ul li a:hover {
  color: #ff0000;
  text-decoration: none;
}
header ul li a.active {
  color: #e0ac1c;
}

@media (max-width: 768px) {
  .label-toggle {
    display: block;
  }
  #menu-button {
    display: none;
  }
  #menu-button:checked ~ ul {
    left: 0;
  }
  .menu-toggle {
    display: block !important;
    width: 50px;
    height: auto;
  }
  header {
    position: fixed;
    z-index: 2;
    width: 100vw;
    padding: 5px 50px;
    color: #fff;
  }
  header img {
    height: 70px;
    width: auto;
    margin-left: 10px;
  }
  header nav ul {
    display: block;
    position: fixed;
    margin-top: 40px;
    width: 100%;
    background-color: rgba(45, 42, 48, 0.7607843137);
    left: 100%;
    right: 0;
  }
  header nav ul li {
    padding: 10px;
    margin-left: 50px;
  }
  header .link-recetas h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 50px;
  color: brown;
  font-family: "Dancing Script";
}

hr {
  margin-left: 500px;
}

p {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
  color: brown;
}

.page-content {
  background-color: white;
}

.spacer-generico {
  position: relative;
  height: 600px;
  width: 100%;
}

.info {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  color: black;
  bottom: 0;
}
.info h1 {
  font-size: 50px;
  font-family: "Dancing Script";
  margin-bottom: 40px;
}

.info-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: url(./../img/Imagen\ prueba.jpg);
  background-size: cover;
  margin-top: -110px;
  z-index: -1;
  height: 500px;
  overflow-y: hidden;
}

.home-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.title {
  background-color: white;
  color: brown;
}
.title h2 {
  text-align: center;
  padding: 50px;
  letter-spacing: 0.1rem;
  font-size: 50px;
  font-family: "Fredoka", cursive;
  margin: 0 auto;
  animation: text 2s linear infinite;
  background: linear-gradient(brown, black);
  background-clip: text;
}
.title .subti {
  text-align: center;
  padding: 50px;
  margin-top: 10px;
  font-family: "Times New Roman";
}

@keyframes text {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.wrap {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.seccion-recetas {
  position: relative;
  background-size: 100% auto;
}
.seccion-recetas h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 48px;
}
.seccion-recetas .imagen-recetas {
  width: 100%;
}
.seccion-recetas .link-recetas {
  font-family: "Dancing Script";
}
.seccion-recetas .link-recetas h1 {
  text-align: center;
  color: white;
  font-size: 6rem;
}
.seccion-recetas .link-recetas :hover {
  color: red;
}

/* Nosotros */
.sobre-nosotros-container {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: url(./../img/sobrenosotros.jpg);
  background-size: cover;
  margin-top: -110px;
  z-index: -1;
  position: relative;
  height: 500px;
  overflow-y: hidden;
}

.sobre-nosotros {
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  bottom: 0;
}
.sobre-nosotros h1 {
  font-size: 50px;
  font-family: "Dancing Script";
  margin-bottom: 40px;
  color: white;
}

.Historia0 {
  background-color: white;
  text-align: center;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  color: brown;
}
.Historia0 h2 {
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: brown;
  animation: text 2s linear infinite;
}
@keyframes text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.videonosotros {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.historia1 {
  text-align: center;
  padding: 50px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.historia2 {
  text-align: center;
  padding: 50px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Menu */
.titleespecialidades {
  background-color: white;
  text-align: center;
  padding: 50px;
}

.especialitit {
  font-family: "Dancing Script";
  position: relative;
  color: brown;
  margin-top: 10%;
  font-size: 50px;
}

.container-fotos {
  padding: 3rem;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.6);
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  position: absolute;
}

.img-container {
  position: relative;
}

.img-container:hover .overlay {
  opacity: 1;
}

/* Contenido Locales */
.titleencontrarnos {
  background-color: white;
  text-align: center;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
}

.titleencontrarnos h2 {
  color: brown;
  position: relative;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  margin-top: 8%;
}

.container-locales {
  position: relative;
  display: flex;
  justify-content: center;
}

div.boxModel,
div.boxModel2 {
  width: 450px;
  background-color: bisque;
  border: 5px solid brown;
  text-align: center;
  margin: 20px;
}

div.boxModel {
  left: 0;
}

div.boxModel2 {
  right: 0;
}

/* Contenido Contacto */
div.titlecontactenos {
  background-color: white;
  text-align: center;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
}

.form-register {
  max-width: 500px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin-bottom: 100px;
  box-shadow: 7px 13px 37px #000;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register a {
  color: white;
  text-decoration: none;
}
.form-register a :hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: bisque;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid brown;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

p.acuerdo {
  color: white;
}

a.Terminos {
  color: blue;
  text-decoration: underline;
}

a.cuenta {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .info-container {
    margin-top: 0;
  }
  .info h1 {
    font-size: 36px;
  }
  .sobre-nosotros-container {
    margin-top: 0;
  }
  .sobre-nosotros {
    left: 30%;
  }
  .sobre-nosotros h1 {
    font-size: 36px;
  }
}
@media (max-width: 1024px) {
  .spacer-generico {
    height: 300px;
  }
}
footer {
  bottom: 0;
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 30%;
}
.footer-distributed h3 {
  color: #fff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}
.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}
.footer-distributed .footer-right {
  width: 30%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a :hover {
  background-color: #3F71EA;
}
.footer-distributed .footer-links a:hover {
  color: #ff0000;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */